:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: auto calc(24.5 / 375 * 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-cyan);
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom 36vh right 52vw, top 51.6vh left 48.3vw;
    position: relative;
}

.card {
    max-width: 35rem;
    min-height: 37.4rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 0 4rem 8rem -0.5rem rgba(0, 31, 77, 0.3);
    overflow: hidden;
}

.card__background {
    width: 100%;
    height: 14rem;
    min-height: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.card__profile-pic {
    max-width: 100%;
    margin-top: -5.3rem;
    vertical-align: middle;
    border-radius: 50%;
    border: 0.5rem solid white;
}

.card__user {
    margin: 1.9rem 0 2.4rem;
    text-align: center;
}

.card__name {
    font-size: 1.8rem;
    color: var(--very-dark-desaturated-blue);
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: .8rem;
}

.card__age {
    font-size: 1.8rem;
    color: var(--dark-grayish-blue);
    letter-spacing: 0.02rem;
    display: inline-block;
}

.card__address {
    font-size: 1.4rem;
    color: var(--dark-grayish-blue);
}

.card__divider {
    all: unset;
    width: 100%;
    height: .1rem;
    background-color: #E8E9EC;
}

.card__stats {
    width: 100%;
    margin: 2.4rem 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card__stat {
    color: var(--dark-grayish-blue);
    letter-spacing: .15rem;
    text-align: center;
}

.card__stat span {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .035rem;
    color: var(--very-dark-desaturated-blue);
    display: block;
    margin-left: .1rem;
    margin-bottom: .4rem;
}

.card__stat:nth-child(1) {
    margin-left: -0.7rem;
}

.card__stat:nth-child(2) {
    margin-left: -0.7rem;
}

@media (max-width: 600px) {
    .body {
        background-size: 160%;
        background-position: bottom 58vh right 44vw, top 53.2vh left 44vw;
    }
}

.attribution {
    position: absolute;
    bottom: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(244, 15%, 78%);
    text-align: center;
}

.attribution a {
    color: hsl(244, 15%, 80%);
    transition: .18s;
    text-decoration: none;
}

.attribution a:hover {
    color: hsl(244, 15%, 95%);
}

.attribution a:active {
    color: hsl(244, 15%, 100%);
}
